#components-table-demo-drag-sorting tr.drop-over-downward td {
  border-bottom: 2px dashed #1890ff;
}

#components-table-demo-drag-sorting tr.drop-over-upward td {
  border-top: 2px dashed #1890ff;
}

.main {
  :global {
    .ant-table-tbody {
      text-align: center;

      .overflowHidden {
        // overflow: hidden;
        // text-overflow: ellipsis;
        // white-space: nowrap;
      }

      .testRed {
        background: red
      }

      .testColor {
        background: rgb(151, 211, 255)
      }

      td {
        // width: 90%;
        // background: red;s
      }
    }

    .ant-table-thead {
      th {
        text-align: center;
        height: 58px;

        .ant-table-column-title {
          .buttonContain {
            display: flex;

            button {
              margin-left: 5px;
              height: 25px;
            }
          }
        }

      }
    }

    .noHead {
      th {
        display: none;
      }
    }

    .titleChoose {
      height: 58px;
      line-height: 58px;
      text-align: center;
    }
  }
}
