@import '~antd/es/style/themes/default.less';

.title {
  display: flex;
  justify-content: space-between;
  height: 50px;
  line-height: 50px;

  .infopart {
    font-size: @title-font-size;
    font-weight: @title-font-weight;
    color: #1B1B1B;
    width: 100%;
    border-bottom: 1px solid #ddd;

    .timeRemaining {
      margin-left: 10px;
      font-size: @content-font-size;
      font-weight: @content-font-weight;
      color: rgba(137, 137, 137, 1);
      line-height: @content-line-height;
    }
  }

  .expressage {
    img {
      width: 18px;
      height: 18px;
    }

    span {
      margin-left: 2px;
      font-size: @content-font-size;
      font-weight: @content-font-weight;
      color: rgba(245, 171, 28, 1);
    }
  }
}

.doctor {
  display: flex;
  padding: 20px 10px;
  align-items: center;

  img {
    width: 80px;
    height: 80px;
    border-radius: 50px;
    background-color: #1890ff;
    margin-right: 20px;
  }
}

.patient {
  padding: 10px 10px;
  padding-bottom: 20px;

  .patientItem {
    height: auto;
    line-height: 30px;
    display: flex;
    flex-wrap: wrap;

    .patientLabel {
      color: #1B1B1B;
      margin-right: 10px;
    }

    img {
      margin-right: 10px;
      margin-bottom: 10px;
      border: 1px solid #ddd;
      border-radius: 8px;
      cursor: pointer;
    }
  }
}

.modal {
  .labelInfo {
    font-size: @title-font-size;
    font-weight: @title-font-weight;
    color: rgba(27, 27, 27, 1);
    margin-right: 32px;
  }

  .contentInfo {
    font-size: @content-font-size;
    font-weight: @content-font-weight;
    color: #1B1B1B;
    margin-bottom: 12px;

    span {
      margin-right: 18px;
    }
  }

  .deliver {
    margin-top: 35px;
    text-align: center;

    :global {
      .ant-btn {
        width: 100px;
        height: 34px;
        background: rgba(72, 116, 239, 1);
        border-radius: 4px;
        color: #fff;
      }
    }
  }
}
